**/build/
*.a
*.so
*.dylib
*.bin
*.cg

!cactus-engine/libs/curl/**/*.a
!android/mbedtls/**/*.a

apple/build-*/
apple/*.xcframework

.claude
.vscode
.DS_Store

__pycache__/
*.pyc
*.egg-info
.pytest_cache/
venv

weights/
transpiled/
python/dist/
python/cactus/bin/
python/cactus/bindings/lib/
site/
site_docs/

python/cactus/code/
